body{
    /* Vì mặc định margin của trình duyệt là 8px */
    margin: 0px;
}
img-fluid{
    /* Cho tất cả các ảnh trên website full rộng */
    width: 100%;
}

#warpper{
   /* Dựa trên file Photoshop sẽ đo chiều rộng tối đa của phần Wrapper */
    width: 980px;
    font-family: tahoma;
    margin: 0 auto;
}
/* ==Header== */
.header-top{
    background-color: #272f54;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 17px;
}

.header-main{
    background-color: #cb7802;
    /* Chia menu thành 2 phần */
    display: flex;
    /* Đưa về 2 đầu */
    justify-content: space-between;
    align-items: center;
    /* Trên Phải Dưới Trái */
    padding: 6px 6px 6px 6px;
}
.menu{
    /* Bỏ dấu chấm */
    list-style: none;
    /* Reset margin và padding về 0 */
    margin: 0;
    padding: 0;
}
.menu li{
    /* Đưa tất cả các thành phần nằm ngàng */
    display: inline-block
}

.menu li a{
    /* Bỏ gạch chân */
    text-decoration: none;
    color: #fefbfb;
    font-size: 12pt;
    padding-left: 20px;
    padding-right: 20px;
}
.menu li a:hover{
    text-decoration: underline;
}
.form-search-input{
    border: 1px solid #cccccc;
    height: 20px;    
}
.form-search-btn{
    border: 1px solid #cccccc;
    height: 20px;    
    text-transform: uppercase;
    background-color: #272f54;
    color: white;
}

.header-banner{
    padding-top: 10px;
}
/* == Tin Tức == */

#news h2.title{
    color: #272f54;
    font-size: 20pt;
    font-weight: bold;
    /* Trái phải sẽ là 0 px và trên dưới là 22px */
    padding: 22px 0; 
}
#news .row{
    /* Đưa các thành phần về dạng lưới */
    display: grid;
    /* 1fr tương ứng với 1 cột */
    grid-template-columns: 1fr 1fr 1fr;
    /* Các cột cách nhau 20px */
    grid-gap: 20px;
}
#news .row p{
    font-size: 13pt;
    line-height: 20pt;
    text-align: justify;
    color: black;
}
/* Sau khi xử lý row thì sẽ tiến hành xử lý tiếp col */
#news .col{
    border: 1px solid #c2c2c2;
    padding: 15px 30px;
}
#news h3{
    text-align: justify;
    /* Đưa margin trái phải về 0px */
    margin: 15px 0;
    font-size: 16pt;
}

#news a{
    text-decoration: none;   
    color: #b65724;
    font-weight: bold;
}

/* ===Footer=== */
footer{
    background-color: #272f54;
    text-align: center;
    height: 50px;
    
}
footer a{
    text-decoration: none;
}
footer p{
    color: white;
    text-transform: uppercase;
    display: inline-block  
}